* {margin: 0;}
a {color: white; text-decoration: none;}
span { color: yellow;}
p{
	padding: 10px 20px;
}
/* 페이지의 내용을 가운데 놓음*/
#wrap{
	width: 960px;
	margin: 0 auto;	
}
/*헤더의 넓이를 정함*/
#header{
	width: 100%;
	height: 80px;
	line-height: 80px;
	background-color: blue;
	color: white;
	text-align: center;	
}

#header_nav, #footer_nav {
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: rgba(60,95,255, 0.9);
}
/* 내비게이션을 가로 바 형태로 만듦 */
#header_nav ul li, #footer_nav ul li{
	float: left;
	padding: 0 10px;
	list-style: none;
}
/* 가로 방향으로 표시*/
#sec1{
	float: left;
	width: 75%;
	background-color: rgba(128,128,128, 0.5);
}
#sidebar{
	background-color: pink;
	float: left;
	width: 25%;
}

#ol{
	color:black;
}

#ol li a{
	color: black;
}
#sidebar_nav ul li{
	list-style: none;
}
/*float를 해제해서 페이지 하단에 안착시킴*/
#footer{
	clear: both;
	text-align: center;
	background-color: blue;
}